<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Shop-your-movies</title>
            <!----to link to bootstrap---->
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        </head>
        <header>
            <!--this is the nav bar-->
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Shop-Your-Movies</a>
                <div class="collapse navbar-collapse">
                    <ur class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../movies">Movies</a>
                        </li>
                    </ur>
                    <ur class="navbar-nav my-md-2">
                        <a href="../login">Login</a>/<a href="../signup">Sign Up</a>
                    </ur>
                </div>
            </nav>
        </header>
    <body>